.reg-form {
  display: none;
}

h4.name {
  font-size: 15px;
  margin-left: 04px;
  margin-top: 8px;

}

ul>li>a {
  font-size: 15px;
}

ul>li>a>i {
  font-size: 20px;
}

ul>li>h3 {
  font-size: 17px;
}

ul>li {
  transition: .5s all;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul>li:hover {
  background: #c0c0c062;
  color: #fff;
}

table>tbody>tr {
  padding: 30px !important;
}

@media all and (max-width: 992px) {
  ul>li>a>span {
    display: none;
  }

  ul>li>a>i {
    font-size: 25px;
  }


  ul {
    justify-content: center;
    align-items: center;
  }

  ul>li {
    padding-left: 0px;
  }

  ul>.separator-heading {
    display: none;
    margin-top: -20px;

  }

  h4.name {
    display: none;
  }

}

.action-button>li {
  cursor: pointer;

}

.action-button>li:hover {
  background: transparent;
}

.fa-circle {
  font-size: 10px;
}

#student-add-form {
  display: none;
}

td.no-data {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 2px;
}

.right-area {
  position: relative;
}

#result-table td,
#result-table th {
  border: 2px solid #000;
}

#result-table tr {
  height: 50px;
}

/* 
#delete-confirmation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000d3;
  display: none;

} */

/* .confirm-modal {
  position: absolute;
  top: 25%;
  left: 30%;
  display: none;
} */

/* The modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black with transparency */
}


/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  /* Could be adjusted to your liking */
}

/* Close button in the modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#studentDataviewModal {
  display: none;
}

#studentDataviewModal .modal-content {
  background-color: #fefefe;
  margin: 9% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  /* Could be adjusted to your liking */
}

#studentResultAddModal {
  display: none;
}

#studentResultAddModal .modal-content {
  background-color: #fefefe;
  margin: 9% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  /* Could be adjusted to your liking */
}

#studentResultShowModal {
  display: none;
  padding-left: 10%;
}

#studentResultShowModal .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  /* Could be adjusted to your liking */
}